In [1]:
import pandas as pd
import numpy as np
import datetime
from pandas_datareader import data#Download data from the web via this package
%matplotlib inline

In [11]:
start = '2015-01-01'
end = '2017-01-01'
GSPC_index = data.DataReader("^GSPC","yahoo",start,end)#Choose the data that Exercise 3 asked
GSPC_index2 = pd.DataFrame(GSPC_index.values.T, index=GSPC_index.columns, columns=GSPC_index.index)
GSPC_index2_close = pd.DataFrame(GSPC_index2.iloc[3])
GSPC_index2_close.to_csv('GSPC_1517.csv')

In [3]:
GSPC_index.isnull().sum().sort_values(ascending = False)

High         0
Low          0
Open         0
Close        0
Volume       0
Adj Close    0
dtype: int64

In [4]:
GSPC_index2 = pd.DataFrame(GSPC_index.values.T, index=GSPC_index.columns, columns=GSPC_index.index)

Date,2017-01-03,2017-01-04,2017-01-05,2017-01-06,2017-01-09,2017-01-10,2017-01-11,2017-01-12,2017-01-13,2017-01-17,...,2021-12-17,2021-12-20,2021-12-21,2021-12-22,2021-12-23,2021-12-27,2021-12-28,2021-12-29,2021-12-30,2021-12-31
High,2.263880e+03,2.272820e+03,2.271500e+03,2.282100e+03,2.275490e+03,2.279270e+03,2.275320e+03,2.271780e+03,2.278680e+03,2.272080e+03,...,4.666700e+03,4.587900e+03,4.651140e+03,4.697670e+03,4.740740e+03,4.791490e+03,4.807020e+03,4.804060e+03,4.808930e+03,4.786830e+03
Low,2.245130e+03,2.261600e+03,2.260450e+03,2.264060e+03,2.268900e+03,2.265270e+03,2.260830e+03,2.254250e+03,2.271510e+03,2.262810e+03,...,4.600220e+03,4.531100e+03,4.583160e+03,4.645530e+03,4.703960e+03,4.733990e+03,4.780040e+03,4.778080e+03,4.775330e+03,4.765750e+03
Open,2.251570e+03,2.261600e+03,2.268180e+03,2.271140e+03,2.273590e+03,2.269720e+03,2.268600e+03,2.271140e+03,2.272740e+03,2.269140e+03,...,4.652500e+03,4.587900e+03,4.594960e+03,4.650360e+03,4.703960e+03,4.733990e+03,4.795490e+03,4.788640e+03,4.794230e+03,4.775210e+03
Close,2.257830e+03,2.270750e+03,2.269000e+03,2.276980e+03,2.268900e+03,2.268900e+03,2.275320e+03,2.270440e+03,2.274640e+03,2.267890e+03,...,4.620640e+03,4.568020e+03,4.649230e+03,4.696560e+03,4.725790e+03,4.791190e+03,4.786350e+03,4.793060e+03,4.778730e+03,4.766180e+03
Volume,3.770530e+09,3.764890e+09,3.761820e+09,3.339890e+09,3.217610e+09,3.638790e+09,3.620410e+09,3.462130e+09,3.081270e+09,3.584990e+09,...,5.609780e+09,3.395780e+09,2.564370e+09,2.439570e+09,2.194630e+09,2.264120e+09,2.217050e+09,2.369370e+09,2.390990e+09,2.446190e+09
Adj Close,2.257830e+03,2.270750e+03,2.269000e+03,2.276980e+03,2.268900e+03,2.268900e+03,2.275320e+03,2.270440e+03,2.274640e+03,2.267890e+03,...,4.620640e+03,4.568020e+03,4.649230e+03,4.696560e+03,4.725790e+03,4.791190e+03,4.786350e+03,4.793060e+03,4.778730e+03,4.766180e+03

In [18]:
GSPC_index2_close = pd.DataFrame(GSPC_index2.iloc[3])

                  Close
Date
2017-01-03  2257.830078
2017-01-04  2270.750000
2017-01-05  2269.000000
2017-01-06  2276.979980
2017-01-09  2268.899902
...                 ...
2018-12-24  2351.100098
2018-12-26  2467.699951
2018-12-27  2488.830078
2018-12-28  2485.739990
2018-12-31  2506.850098

[502 rows x 1 columns]

In [19]:
plt.scatter( )